body{
    font-family: 'Work Sans', sans-serif;
}
/* Header styles */
header{
    background-color: rgba(209, 111, 173, 0.1);
    padding: 50px 240px;
}
nav > ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}
nav li a{
    text-decoration: none;
    color:  #424242;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header{
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

/*Style For Banner*/

.banner-con{
    width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 64px;
    font-weight: 700;
}
.banner-text{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px
}
.primary-button{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

/*Styles for media*/
@media screen and (max-width:576px){
   nav{
    flex-direction: column;
   }
    header{
        padding: 20px;
    }
}
@media screen and (min-width:578px) and (max-width:960px){
    header{
        padding: 40px;
    }
}
/**/
/*styles for main*/
main{
    max-width: 1440px;
    margin: 0 auto;
}